:root {
  --MainColor: #4d49f5;
  --MainLight: #8684fa;
  --MainBlack: #212121;
  --MainWhite: #fff;
  --MainGrey: #6c6c6c;
  --LighGrey: #b6b6b6;
  --Shadow: 1px 2px 10px rgba(0, 0, 0, 0.24);
  --Transitions: all 0.6s ease;
  --bs-link-color-rgb: var(--MainBlack);
}

body {
  color: var(--MainBlack);
  transition: var(--Transitions);
}
header,
nav > ul {
  background: var(--MainWhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 3rem;
  margin-bottom: 40px;
  margin-top: 15px;
  text-align: center;
  transition: var(--Transitions);
}

nav > ul {
  padding: 0;
  color: var(--MainBlack);
}

nav > ul > li > a {
  margin-left: 100px;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  gap: 16.5%;
  margin: 0 auto;
  padding: 0 100px;
  margin-bottom: 25px;
}

.show {
  display: block;
}
#menu {
  display: none;
}

@media screen and (max-width: 800px) {
  #menu {
    display: block;
  }
  nav ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid tomato;
    transition: var(--Transitions);
  }
  nav ul > li > a {
    margin-left: 0;
  }

  section {
    display: block;
  }
  section .row:nth-child(2) {
    display: none;
  }
}

#total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.payment {
  border: none;
  color: var(--MainWhite);
  background-color: var(--MainColor);
  opacity: 0.2;
  border-radius: 8px;
  padding: 25px 100px;
  width: 100%;
  margin: 7.5px 0;
}

.payment:hover,
.payment.active {
  opacity: 1;
  cursor: pointer;
}

#payment-container {
  background-color: var(--MainWhite);
  border-radius: 11px;
  padding: 30px;
  padding-bottom: 90px;
}

#country {
  width: 15%;
  margin-right: -10px;
  margin-top: 20px;
}

#phone-container {
  display: none;
  background-color: var(--MainBlack);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125%;
  opacity: 0.7;
}

#phone {
  display: none;
}

.disappear {
  display: none;
}

#phone > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  position: absolute;
  top: 25%;
  left: 25%;
}

#phone form {
  width: 100%;
  text-align: center;
  background-color: var(--MainWhite);
  padding: 75px 0;
  opacity: 1;
  border-radius: 22px;
  box-shadow: var(--Shadow);
}

#phone-container.active {
  display: block;
}

#phone.active {
  display: block;
}

.button-payment {
  border: none;
  background-color: var(--MainColor);
  color: var(--MainWhite);
  padding: 10px 80px;
  border-radius: 8px;
  margin-top: 20px;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 200;
}

.button-payment:hover {
  opacity: 1;
  cursor: pointer;
}

.col {
  padding-right: 75px;
}

.subtotal {
  width: 25%;
}

.subtotal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1px solid var(--LighGrey);
  padding: 5px 10px;
  border-radius: 8px 0 0 8px;
  font-size: 20px;
}

#number {
  border-radius: 0 8px 8px 0;
  color: var(--MainBlack);
  font-weight: bold;
  width: 50%;
}

.product {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product > img {
  margin-right: 20px;
}
